<!DOCTYPE html>
<html>
  <head>
    <title>Coin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Pairs', root_path %> | <%= link_to 'History', history_path %>

    <%= yield %>
  </body>
</html>
